p{
    color: crimson;
}
body{
    background-color: thistle;
}
ul{
    color:teal;
}
img{
    width: 50%;
    border-style:dashed;
    border-width: 70;
    border-radius: 20cm;
    border-color: yellow;
}